{% extends 'base.html.twig' %}

{% block title %}QUACKNET: Register{% endblock %}

{% block body %}
    <h1>Registration</h1>
    <h2>Join us and became the best Duck !</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname, {label: 'Firstname :'}) }}
    </br>
        {{ form_row(registrationForm.lastname, {label: 'Lastname :'}) }}
    </br>
        {{ form_row(registrationForm.duckname, {label: 'Duckname :'}) }}
    </br>
        {{ form_row(registrationForm.email, {label: 'Email :'}) }}
    </br>
        {{ form_row(registrationForm.plainPassword, {label: 'Password :'}) }}
    </br>
        {{ form_row(registrationForm.agreeTerms) }}
    </br>
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
